body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    border: 2px solid #ccc; /* Bordure par défaut */
    border-radius: 4px;
    margin-top: 10px;
    width: 80%;
}

input.correct {
    border-color: rgb(12, 163, 12); /* Apparition instantanée de la bordure verte */
    box-shadow: 0 0 10px rgb(12, 163, 12); /* Ajoute un effet de glow autour de l'input */
}

input.correct.fade-out {
    transition: border-color 0.4s, box-shadow 0.4s; /* Transition pour la disparition de la bordure et du glow */
    border-color: #ccc; /* Change la couleur de la bordure à transparent */
    box-shadow: 0 0 0 rgb(12, 163, 12); /* Éteint l'effet de glow */
}

input:focus {
    outline: none; /* Supprime l'outline par défaut */
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
}

#question {
    margin-top: 10px;
    font-weight: bold;
}